<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        header{
            background: gray;
            color: white;
            font-size: xx-large;
        }
        footer{
            background: saddlebrown;
            color: white;
        }
        #div1{
            background-image: linear-gradient(blueviolet, white);
        }
    </style>
</head>
<body>
    <header>sMovies</header>
    <div id="div1">
        <h1>Welcome to sMovies app!</h1>
        <p>
            In this app, we offer the options to search for the movies as per the genre, watch their trailers, reviews and details. We also allow searching for upcoming movie tickets and make bookings!
        </p>
        
        <h4>our services:</h4>
        <ul>
            <li>browse for movies to watch trailers, reviews and description 
                <button>
                    <a href="{% url 'movieBrowser:index' %}">Start action</a>
                </button>
            </li>
            <li>find upcoming releases and book tickets
                <button>
                    <a>Start action</a>
                </button>
            </li>
        </ul>
    </div>
    <footer>&#169 Sunil Poudel 2024</footer>
</body>
</html>