<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        header{
            background: gray;
            color: white;
            font-size: xx-large;
        }
        footer{
            background: saddlebrown;
            color: white;
        }

    </style>
</head>
<body>
    <header>Movie Browser</header>
    {% block b %}

    {% endblock b %}
    <footer>&#169 Sunil Poudel 2024</footer>
</body>
</html>