{% extends "base.html" %}
{% block b %}
    {% if genre %}
        <h1>Genre: {{ genre }}</h1>
        {% for m in movie %}
            <li>
                <p>
                    {{ m.name }}
                    <button><a href="{% url 'movieBrowser:movie_access' m.id %}">Select movie</a></button>
                </p>
            </li>
        {% endfor %}
        {% else %}
            <p>Sorry! No movies on this genre! Stay updated for movies on this genre!!</p>
    {% endif %}
    
    <button>
        <a href="{% url 'movieBrowser:index' %}">Go back to home page of Movie Browser app!</a>
    </button>
    <hr>
    <hr>
    
    <button>
        <a href="{% url 'home' %}">Go back to app's main home page</a>
    </button>
{% endblock b %}