{% extends "base.html" %}

{% block b %}
    <div>
        <h1>Welcome to movie browser app!</h1>
        <p>in this application, we allow you to browse different movies based on different genres! </p>
        <p>you can view details of the movies along with trailers, reviews and many more!</p>

        <h2>Genres</h2>
        <ol>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 1 %}">Drama</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 2 %}">Crime</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 3 %}">Action</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 4 %}">Sci-fi</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 5 %}">Horror</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 6 %}">Thriller</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 7 %}">Musical</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 8 %}">Biographical</a></button></li>
            <li> <button> <a href="{% url 'movieBrowser:genre_access' 9 %}">Comedy</a></button></li>
        </ol>
    </div>
{% endblock b %}