{% extends "base.html" %}

{% block b %}
    <div>
        <h1>Welcome to movie browser app!</h1>
        <p>in this application, we allow you to browse different movies based on different genres! </p>
        <p>you can view details of the movies along with trailers, reviews and many more!</p>

        <h2>Genres</h2>
        <ol>
            <li> <button> <a></a>Drama</button></li>
            <li> <button> <a></a>Crime</button></li>
            <li> <button> <a></a>Action</button></li>
            <li> <button> <a></a>Sci-fi</button></li>
            <li> <button> <a></a>Horror</button></li>
            <li> <button> <a></a>Thriller</button></li>
        </ol>
    </div>
{% endblock b %}